In [10]:
i=20
j=4
while j<=20:
    print(i," * ",j,"=",j*1)
    j+=1

20  *  4 = 4
20  *  5 = 5
20  *  6 = 6
20  *  7 = 7
20  *  8 = 8
20  *  9 = 9
20  *  10 = 10
20  *  11 = 11
20  *  12 = 12
20  *  13 = 13
20  *  14 = 14
20  *  15 = 15
20  *  16 = 16
20  *  17 = 17
20  *  18 = 18
20  *  19 = 19
20  *  20 = 20

In [13]:
i=2
while(i<10):
    print(i)
    i+=1

2
3
4
5
6
7
8
9

In [1]:
#truple
a=(1,2,3,4)
a[3]=9
print(a)

TypeError: 'tuple' object does not support item assignment

In [4]:
b=1,2,3,4
#print(type(b))
#b[1]=9
#print(b)
e=list(b)
print(e)
e[2]=8
print(e)
r=tuple(e)
print(r)

[1, 2, 3, 4]
[1, 2, 8, 4]
(1, 2, 8, 4)

In [10]:
a=30
for i in range(1,11) :
    print(a,"*",i,"=",a*i)

30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300

In [16]:
a="today is sunday and we are in tgc"
if "tgc" in a:
    print("yes it is there")
else:
    print("no")

yes it is there

In [5]:
#sets
  #no duplicate
  #unordered
  #no changes
a={1,2,3,(4,5),90,0,90}
print (type (a))
# a[1]="python"
print(b)
b=list(a)
b[1]="python"
print(b)
c=set(b)
print(c)

<class 'set'>
[0, 'python', 2, 3, (4, 5), 90]
[0, 'python', 2, 3, (4, 5), 90]
{0, 2, 3, 'python', (4, 5), 90}

In [7]:
a={1,2,3,3,4,3,5}
print(a)

{1, 2, 3, 4, 5}

In [8]:
#methods
a={1,2,3,4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [9]:
d={9,8,7,6}
b={1,2,3,5}
d.update(b)
b.update(d)
print(b)
print(d)

{1, 2, 3, 5, 6, 7, 8, 9}
{1, 2, 3, 5, 6, 7, 8, 9}

In [13]:
a={"a","b","c","d","g"}
b={"r","f","j","p","z"}
a.update(b)
print(a)
d=a.difference(b)
print(d)#difference
c=b.intersection
print(a)

{'c', 'a', 'r', 'b', 'z', 'f', 'p', 'd', 'g', 'j'}
{'c', 'a', 'b', 'd', 'g'}
{'c', 'a', 'r', 'b', 'z', 'f', 'p', 'd', 'g', 'j'}

In [1]:
#set method
x={1,2,3,4}
y={5,6,7,8}
print(x.isdisjoint(y))#if no number are same then true
a={1,2,3,4}
b={1,2,5,6}
print(a.isdisjoint(b))#if no. are same then false

True
False

In [3]:
a={1,2,3,4}
a.remove(2)
print(a)
a.pop()#first move 
print(a)

{1, 3, 4}
{3, 4}

In [17]:
n=int(input("please enter a number"))
if n>1:
    #number is greater then 1
    for i in range(2,int(n/2)+1):
        #if number are divisible by 2 and n/2 then its not prime 
        if (n%i)==0:
            print(n,"not prime")
            break
        else:
            print(n,"not prime")
else:
   print(n,"not prime")

please enter a number9
9 not prime
9 not prime

In [10]:
# create a two empty sets and add atleast 6 item using input function

x=set()#for assiging an empty set
print(type(x))

for i in range(6):
    item=input("enteran item to be added into the set ; ")
    x.add(item)
 
y=set() #for assigning an empty set
               
for i in range(6):
   #item=int(input("enter an item to be added into the set:"))
    item=input("enter an item to be added into:") 
    y.add(item)
print(x)
print(y)

<class 'set'>
enteran item to be added into the set ; a
enteran item to be added into the set ; ss
enteran item to be added into the set ; dd
enteran item to be added into the set ; f
enteran item to be added into the set ; g
enteran item to be added into the set ; h
enter an item to be added into:
enter an item to be added into:h
enter an item to be added into:h
enter an item to be added into:f
enter an item to be added into:r
enter an item to be added into:e
{'f', 'dd', 'g', 'a', 'ss', 'h'}
{'', 'f', 'r', 'e', 'h'}

#dictionaries (key,value)

a={"a":1,"b":2}
print type(a))
print(a.key))
print(a.value())
#way of writting a dict
a=dicta(a=1,b=1,c=2)
print(a)
b=dict(["a",1),("b",2])
print(b)

In [18]:
#dictionaries (key,value)

a={"a":1,"b":2}
print (type(a))
print(a.keys())
print(a.values())
#way of writting a dict
a=dict(a=1,b=1,c=2)
print(a)
b=dict([("a",1),("b",2)])
print(b)

<class 'dict'>
dict_keys(['a', 'b'])
dict_values([1, 2])
{'a': 1, 'b': 1, 'c': 2}
{'a': 1, 'b': 2}

In [12]:

a={"a":1,"b":2}
b={"c":3,"d":4}
#a.clear
#print(a)
c=b.keys()
print(c)
d=b.values()
print(d)
e=b.items()
print(e)
a.update(b)
print(a)
a.pop("a")#remove
print(a)
a.popitem() #last remove
print(a)
a.setdefault(1,"a")#add at the end
print(a)

dict_keys(['c', 'd'])
dict_values([3, 4])
dict_items([('c', 3), ('d', 4)])
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3}
{'b': 2, 'c': 3, 1: 'a'}

In [13]:
def add(a,b):
    return a+b
print(add(1,2))

3

In [15]:
def sub(a,b):
    return a-b
print(sub(1,2))

-1

In [17]:
def power(a,b):
    return a**b
print(power(5,6))

15625

In [26]:
def statements(x,y):
    if x==y:
        print("equal")
statements(7,7)

equal

In [1]:
def statements(a,b):
    if a>=b:
        print("equal") 
  #  else:
print("not equal")
statements(6,7)

not equal

In [3]:
#statement
def statements(a,b):
    if a==b:
        print("same")
    elif a<b:
        print("greater")
    else:
        print("not same")
statements(3,4)

greater

In [6]:
#formating methods in function
def fullname(firstname,lastname):
    return f"my firstname is{firstname} and lastname is{lastname}"
print(fullname("python","data science"))

my firstname ispython and lastname isdata science

In [26]:
def a(name,student,age,section):
    print("name of a person is:",name,",number of student are:",student,",age of person is:",age,",number of section are:",section)
x=input("what is your name?")
y=int(input("number of student"))
z=int(input("what is the age of person/student"))
w=input("how many section are there?")      
a(x,y,z,w)

what is your name?h
number of student6
what is the age of person/student7
how many section are there?5
name of a person is: h ,number of student are: 6 ,age of person is: 7 ,number of section are: 5

In [29]:
#calculator using function
def calculator(a,b,op):
    if op=="sum":
        return a+b
    elif op=="sub":
        return a-b
    elif op=="mul":
        return a*b
    elif op=="div":
        return a/b
    else:
        return"invalid input"
    exit=input("do you to exit?")
    if exit=="yes":
        return true
    else:
        return false
print(calculator(1,2,"sum"))
print(calculator(1,2,"yup"))

3
invalid input

In [9]:
def Factorial(a):
    if(a!=1):
        return a*Factorial(a-1)
    
print(Factorial(4))

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [13]:
#local
def foo():
    y="abc" #Normally,we declare a variable inside the function yo create a local variable.
    print(y)
foo()

abc

In [14]:
#non local 
# example 6:create a non local variable
def outer():
    x="local"
    print(x)
    def inner():
        x="nonlocal"
        print(x)
    inner()
outer()

local
nonlocal